.ui-breadcrumbs {
    overflow: hidden;
    height: 40px;
    line-height: 40px;
}
.ui-breadcrumbs-item {
    float: left;
}
.ui-breadcrumbs-divider {
    padding: 0 5px;
}

.ui-bulk-actions {
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

.ui-bulk-actions-item {
    float: left;
    margin-right: 5px;
}

.ui-select-x {
    display: inline-block;
    min-width: 100px;
    position: relative;
    overflow: visible;
}
.ui-select-layer-x {
    width: 200px;
    left: 0;
}

.ui-toast-container {
    position: fixed;
    z-index: 99999;
    top: 10px;
    right: 10px;
}
.ui-toast-container .ui-toast-x {
    position: static;
    margin-bottom: 10px;
}
.ui-toast-x {
    color: #fff;
    font-size: 14px;
    width: 200px;
    height: auto;
    top: 0;
    right: 0;
    padding: 20px 50px;
}
.ui-toast-success {
    background: #51a351;
}
.ui-toast-info {
    background: #2f96b4;
}
.ui-toast-warning {
    background: #f89406;
}
.ui-toast-error {
    background: #bd362f;
}

.ui-dialog-x {
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.ui-calendar-x-disabled:hover,
.ui-calendar-x-disabled {
    color: #999999;
    background: #f6f7fb;
}
.ui-calendar-x-disabled .ui-calendar-arrow,
.ui-calendar-x-disabled .ui-calendar-arrow:after,
.ui-calendar-x-disabled .ui-calendar-text {
    color: #999999;
}

.ui-monthview-x .ui-select-x {
    min-width: 0;
    width: 100%;
}
.ui-monthview-shortcut .ui-button {
    display: block;
}

.ui-table-hcell-sel,
.ui-table-cell-sel {
    width: 30px;
}
.ui-table-hcell:last-child .ui-table-hcell-text {
    border-right: none;
}

.ui-table-hcell-text {
    border-right-color: #fff;
    font-size: 12px;
}

.ui-table-hcell-sel .ui-table-hcell-text {
    border-right: none;
}

.ui-table-hcell-sort:hover {
    cursor: pointer;
}

.ui-table-row {
    border-bottom: 1px solid #eceff8;
}
.ui-table-row:hover {
    background: #F5FBFF;
}

.ui-table-error,
.ui-table-loading {
    text-align: center;
    padding: 25px 0;
}

