.ui-breadcrumbs {
    overflow: hidden;
    height: 40px;
    line-height: 40px;
}
.ui-breadcrumbs-item {
    float: left;
}
.ui-breadcrumbs-divider {
    padding: 0 5px;
}

.ui-bulk-actions {
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

.ui-bulk-actions-item {
    float: left;
    margin-right: 5px;
}

.ui-select-x {
    display: inline-block;
    min-width: 100px;
    position: relative;
    overflow: visible;
}
.ui-select-layer-x {
    width: 200px;
    left: 0;
}
.ui-select-item-multi > label {
    display: block;
}
.ui-select-item-multi span {
    display: inline-block;
    vertical-align: middle;
}

.ui-tiplayer-x {
    min-width: 100px;
}

.ui-toast-container {
    position: fixed;
    z-index: 99999;
    top: 10px;
    right: 10px;
}
.ui-toast-container .ui-toast-x {
    position: static;
    margin-bottom: 10px;
}
.ui-toast-x {
    color: #fff;
    font-size: 14px;
    width: 200px;
    height: auto;
    top: 0;
    right: 0;
    padding: 20px 50px;
}
.ui-toast-success {
    background: #51a351;
}
.ui-toast-info {
    background: #2f96b4;
}
.ui-toast-warning {
    background: #f89406;
}
.ui-toast-error {
    background: #bd362f;
}

.ui-dialog-x {
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.ui-calendar-x-disabled:hover,
.ui-calendar-x-disabled {
    color: #999999;
    background: #f6f7fb;
}
.ui-calendar-x-disabled .ui-calendar-arrow,
.ui-calendar-x-disabled .ui-calendar-arrow:after,
.ui-calendar-x-disabled .ui-calendar-text {
    color: #999999;
}

.ui-monthview-x .ui-select-x {
    min-width: 0;
    width: 100%;
}
.ui-monthview-shortcut .ui-button {
    display: block;
}

.ui-table-hcell-sel,
.ui-table-cell-sel {
    width: 30px;
}
.ui-table-hcell:last-child .ui-table-hcell-text {
    border-right: none;
}

.ui-table-hcell-text {
    border-right-color: #fff;
    font-size: 12px;
}

.ui-table-hcell-sel .ui-table-hcell-text {
    border-right: none;
}

.ui-table-hcell-sort:hover {
    cursor: pointer;
}

.ui-table-row {
    border-bottom: 1px solid #eceff8;
}
.ui-table-row:hover {
    background: #F5FBFF;
}

.ui-table-error,
.ui-table-loading {
    text-align: center;
    padding: 25px 0;
}


.ui-bos-uploader-list {
    width: 500px;
    margin-top: 10px;
}
.ui-bos-uploader-list table {
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    table-layout: fixed;
}
.ui-bos-uploader-list th,
.ui-bos-uploader-list td {
    border: 1px solid #ccc;
    padding: 5px;
}
.ui-bos-uploader-list th {
    text-align: center;
    white-space: nowrap;
}
.ui-bos-uploader-list td > div {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ui-bos-uploader-col-name {
    width: 185px;
}
.ui-bos-uploader-col-size,
.ui-bos-uploader-col-status {
    width: 65px;
}
.ui-bos-uploader-col-progress {
    width: 55px;
}
.ui-bos-uploader-col-time {
    width: 30px;
}
.ui-bos-uploader-speed-info {
    display: inline-block;
}
.ui-bos-uploader-status {
    position: relative;
    font-size: 12px;
    line-height: 16px;
    font-style: normal;
}
.ui-bos-uploader-status:before {
    font-family: "iconfont";
    content: "\e632";
    font-size: inherit;
    position: relative;
    margin-right: 2px;
}
.ui-bos-uploader-status-pending {
    color: #999;
}
.ui-bos-uploader-status-uploading {
    color: #F4B329;
}
.ui-bos-uploader-status-upload-success {
    color: #2CB663;
}
.ui-bos-uploader-status-upload-error {
    color: #EB5252;
}
.ui-bos-uploader-error {
    color: #EB5252;
}

.ui-clipboard-x {
    display: inline-block;
}

.ui-dragger input[type="number"]::-webkit-inner-spin-button {
    display: none;
}
.ui-dragger .ui-textbox-addon {
    position: relative;
    top: -10px;
}

.ui-dragger-bar-selected,
.ui-dragger-control-bar {
    transition: all 0.2s ease-out;
}
.ui-dragger-bar-middle {
    left: 50%;
    transform: translateX(-50%);
}
.ui-dragger-disabled .ui-dragger-control-bar-horizontal:before {
    background: #f6f7fb !important;
}

.ui-textbox-addon {
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;
    background-color: #e9ecef;
    border: 1px solid rgba(0,0,0,.15);
    height: 28px;
    line-height: 28px;
    padding: 0 5px;
    border-right: none;
}
.ui-textbox-addon-end {
    border-left: none;
    border-right: 1px solid rgba(0,0,0,.15);
}

.ui-loading-x {
    background: url(https://cdn.bdstatic.com/console/dist/009bbae/dep/inf-style/0.0.0/img/process.gif) center center no-repeat;
}

.ui-tab-x .ui-tab-navigator {
    background-color: #f5f5f5;
}
.ui-tab-x .ui-tab-navigator .ui-tab-item {
    line-height: 50px;
}
.ui-tab-x .ui-tab-navigator .ui-tab-item-active {
    background-color: #fff;
}


.ui-buybucket-x .ui-button {
    line-height: 38px;
}
.ui-buybucket-x .ui-buybucket-tip {
    padding: 0 18px;
    margin-top: -8px;
    padding-bottom: 12px;
}

.ui-smscode input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

.ui-hljs {
    font-family: monospace;
}

.ui-searchbox-x .ui-textbox-x {
    margin-right: -4px;
}
